h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c2870a !important;
  font-family: "Montserrat", sans-serif !important;
}

p,
li {
  color: #94ff99 !important;
}

img {
  max-width: 50% !important;
  max-height: 12em !important;
}

code {
  background-color: #3b3b3b;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 75%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}

::-webkit-scrollbar-thumb:active {
  background: hsl(0, 0%, 25%);
}
